.wrapper {
  @include sizing(100% 100vh);

  z-index: $z-index-1;
  padding: 20px 50px;
  position: relative;
  background-size: cover;
  background-position: 10% 50px;
  background-repeat: no-repeat;

  &::after {
    @include absolute(top 0 left 0);
    @include sizing(100vw 100vh);

    z-index: $z-index-2;
    opacity: .7;
    content: '';
    display: block;
    background: $lightColor;
  }
}

.content {
  @include relative(top 40%);

  z-index: $z-index-3;
}

.logo {
  width: 70%;
}

.text {
  font-size: 1em;
  margin: 0;

  &:first-of-type {
    margin: 10px 0 5px 0;
  }
}