.hamburger {
  position: relative;
  z-index: 9999;
  display: flex;
  padding: 20px;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &Strip {
    position: relative;
    width: 24px;
    height: 2px;
    background: #1D1D1D;
    transition: transform .5s ease;

    &::before, &::after {
      position: absolute;
      content: '';
      width: 24px;
      height: 2px;
      display: block;
      background: #1D1D1D;
      transition: transform .5s ease;
    }

    &::before {
      left: -4px;
      top: -6px;
    }

    &::after {
      left: -7px;
      top: 6px;
    }
  }

  &:hover &Strip {
    transform: translateX(-4px);

    &::before {
      transform: translateX(4px);
    }

    &::after {
      transform: translateX(7px);
    }
  }
}
