.navigationWrapper {
  @include fixed(left 0 top 0);

  z-index: $z-index-9;
  padding: 20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 50px;
  display: none;

  @media (min-width:1024px) {
    display: block;
  }
}

.menu {
  @include fixed(top 0 left 0);
  @include sizing(100% 100vh);
  @include flex-centered;

  margin: 0;
  padding: 0;
  background: $lightColor;
  list-style: none;
  overflow-y: hidden;

  li {
    list-style: none;
    margin-bottom: 40px;
  }

  span:first-child::after {
    content: '';
    display: inline-block;
    width: 1px;
    height: 13px;
    background: #1D1D1D;
    margin: 0 10px;
  }
}

.active {
  font-weight: $font-weight-bold;
}
