.circle {
  z-index: 9999;
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 30px;
  height: 30px;
  background: rgba(#4123DE, .5);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  &Inner {
    width: 20px;
    height: 20px;
    background: #4123DE;
    border-radius: 50%;
    position: relative;

    &::before,
    &::after {
      content: '';
      display: block;
      position: absolute;
      background: white;
      width: 8px;
      height: 2px;
    }

    &::before {
      left: 4px;
      top: 50%;
      transform: rotate(45deg);
    }

    &::after {
      right: 4px;
      top: 50%;
      transform: rotate(-45deg);
    }
  }
}