// colors
$accentColor: #4123DE;
$lightColor: #F8F8F8;
$colorDark: #1D1D1D;

// z-index
$z-index-1: 1000;
$z-index-2: 2000;
$z-index-3: 3000;
$z-index-4: 4000;
$z-index-5: 5000;
$z-index-6: 6000;
$z-index-7: 7000;
$z-index-8: 8000;
$z-index-9: 9000;